<h1>Student Management System</h1>
<hr>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {{!-- <tr>
            <td>1</td>
            <td>Lax</td>
            <td>25</td>
            <td>Jaffna</td>
            <td ><a href="" class="edit">Edit</a></td>
            <td ><a href="" class="delete">Delete</a></td>
        </tr> --}}

        {{#each result}}
           <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.city}}</td>
            <td ><a href="" class="edit">Edit</a></td>
            <td ><a href="" class="delete">Delete</a></td>
           </tr>
        {{/each}}

    </tbody>
</table>