@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(160, 215, 237);
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    color: rgb(128, 163, 178);
    border-bottom: 2px solid #afafaf;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table thead td {
    padding: 10px;
    background-color: rgb(128, 163, 178);
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ddd;
}

table tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

table tbody tr:hover {
    background-color: rgb(220, 220, 220);
}

.edit, .delete, .addbtn, .viewall, button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.edit {
    background-color: rgb(102, 167, 193);
}

.delete {
    background-color: rgb(255, 59, 48);
}

.addbtn {
    background-color: darkslategray;
}

.viewall {
    background-color: rgb(13, 12, 12);
}

button {
    background-color: rgb(13, 12, 12);
}

button:hover, .edit:hover, .delete:hover, .addbtn:hover, .viewall:hover {
    opacity: 0.9;
}

p {
    text-align: right;
    padding: 10px;
}

.form-group {
    background: rgb(128, 163, 178);
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.alert {
    display: block;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

input {
    font-size: 16px;
}